@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: white;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #8b5cf6;
  color: white;
}

button, a {
  cursor: pointer;
}